body{
    background-color: rgba(27, 31, 34, 0.85);
    
}
h1{
    color: red;
    font-size: 80px;
    width: 80%;
    margin: auto;
}
h2{
    color:white;
}
div{
    width: 70%;
    border: 1px solid white;
    margin: 20px auto;
    padding: 10px;
    color: black;
    font-size: 20px;
}
#last{
    margin-bottom: 30px;
}